	            <div id="kt_aside" class="aside aside-dark" data-kt-drawer="true" data-kt-drawer-name="aside" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'200px', '300px': '250px'}" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_aside_mobile_toggle">
					<!--begin::Brand-->
					{{aside_brand}}
					<!--end::Brand-->
					<!--begin::Aside menu-->
					{{aside_menu}}
					<!--end::Aside menu-->
					<!--begin::Footer-->
					{{aside_footer}}
					<!--end::Footer-->
				</div>