                    <div class="aside-footer flex-column-auto pt-5 pb-7 px-5" id="kt_aside_footer">
						<a href="../../demo1/dist/documentation/getting-started.html" class="btn btn-custom btn-primary w-100" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss-="click" title="200+ in-house components and 3rd-party plugins">
							<span class="btn-label">Docs &amp; Components</span>
							<!--begin::Svg Icon | path: icons/duotone/General/Clipboard.svg-->
							<span class="svg-icon btn-icon svg-icon-2">
								<img src="assets/media/icons/duotone/General/Clipboard.svg">
							</span>
							<!--end::Svg Icon-->
						</a>
					</div>